# Database
db.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Python version
.python-version

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db